<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>First add an accomodation</h2>
        <%= simple_form_for(@apartment, :html => { :multipart => true }) do |f| %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :description %>
            <%= f.input :price_per_day %>
            <%= f.input :service_fees %>
            <%= f.button :submit, class: 'btn btn-create' %>
        <% end %>
    </div>
    <div class="col-md-6">
      <h2>Second add your accomodation's pictures </h2>
       <%= simple_form_for(@apartment, html: { class: "dropzone"}, url: apartments_img_upload_path ) do |f| %>
        <% end %>
    </div>
  </div>
</div>