<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'css/application', media: 'all' %>
  </head>
  <body>
    <%= render "components/navbar" %>
    <%= render "components/flashes" %>
    <%= yield %>
    <%= render "components/footer" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_API']}" %>    
    <%= javascript_pack_tag 'application' %>
    <!-- SPECIFIC SCRIPTS -->
    <%= javascript_pack_tag "map" %>
  </body>
</html>
